/*
 * Colors
 * ========================================================================== */

$white-base:            hsl(255, 255, 255);
$gray-darker:           color(black lightness(+13.5%)); /* #222 */
$gray-dark:             color(black lightness(+25%));   /* #404040 */
$gray:                  color(black lightness(+33.5%)); /* #555 */
$gray-light:            color(black lightness(+46.7%)); /* #777 */
$gray-lighter:          color(black lightness(+93.5%)); /* #eee */

$green-progress: #8BF95A;
$dark-grey-background: #1B100E;
$dark-red-background: #520f09;
$red-background: #AF0101;
$red-alert: #F94534;
$red-frame: #B00C0B;
$golden-icon: #F7D606;
$dark-green-icon: #022800;
$dark-grey-frame: #484A3C;
$grey-frame: #898E84;
$brown-frame: #584122;

$pink-text: #6D294E;
$blue-text: #515790;
$purple-text: #4D153A;
$green-text: #286517;
$crimson-text: #71271E;

.cc-frame-center {
  background: repeating-linear-gradient(
      0deg,
      $dark-grey-background,
      $dark-grey-background 1px,
      $dark-red-background 2px,
      $dark-grey-background 4px
  );
  border: 50px solid $dark-grey-background;
  padding: 15px;
  border-image: url(/cc-frame-1.png) 50 round;
  > h2 {
    padding: 1rem;
    margin: 0 0 0.5rem 0;
  }
  > p {
    padding: 0 1rem;
  }
}

.cc-frame-left {
  @extend .cc-frame-center;
  border-image: url(/cc-frame-2.png) 60 round;
}

.cc-frame-right {
  @extend .cc-frame-center;
  border-image: url(/cc-frame-3.png) 60 round;
}




/*
 * Typography
 * ========================================================================== */

$font-family-base:      'Segoe UI', 'HelveticaNeue-Light', sans-serif;

/*
 * Layout
 * ========================================================================== */

$max-content-width:     1000px;

/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min:         480px;  /* Extra small screen / phone */
$screen-sm-min:         768px;  /* Small screen / tablet */
$screen-md-min:         992px;  /* Medium screen / desktop */
$screen-lg-min:         1200px; /* Large screen / wide desktop */

/*
 * Animations
 * ========================================================================== */

$animation-swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;
